name: CI-CD to K8s

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Set kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_CI }}" > $HOME/.kube/config

      - name: Apply manifests
        run: |
          kubectl apply -f k8s/app.yaml
          kubectl apply --validate=false -f k8s/app.yaml
          
      - name: Update image & rollout
        run: |
          kubectl set image deployment/nhasach-php app=ghcr.io/${{ github.repository }}:${{ github.sha }}
          kubectl rollout status deployment/nhasach-php
      - name: Verify kube access
        run: |
          kubectl config current-context
          kubectl get deploy -n default
      

